{% extends 'apps/base.html' %}

{% load staticfiles %}
{% load tags %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><span>calendar</span></li>
<li><a href="{% url 'calendar-day' action='add' %}" title="add">+</a></li>

{% endblock %}


{% block body %}

{% include 'apps/search-form.html' %}
{% include 'apps/paginator.html' with list=calendardays %}

{% if calendardays %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Type</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for d in calendardays%}
                <tr>
                    <td>{{ d.date }}</td>
                    <td>{{ d.name }}</td>
                    <td>{{ d.get_type_display }}</td>
                    <td class="actions">
                        <ul class="action-group">
                            <li><a href="{% url 'calendar-day' pk=d.id %}">view</a></li>
                            <li><a href="{% url 'calendar-day' pk=d.id action='edit' %}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No calendar days found matching the current search criteria.</p>
{% endif %}

{% endblock %}