{% extends 'apps/base.html' %}

{% load staticfiles %}
{% load tags %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><span>periods</span></li>
<li><a href="{% url 'period' action='add' %}" title="add">+</a></li>

{% endblock %}


{% block body %}

{% include 'apps/search-form.html' %}
{% include 'apps/paginator.html' with list=periods %}

{% if periods %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Start</th>
                <th>End</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for p in periods %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.code }}</td>
                    <td>{{ p.start_date }}</td>
                    <td>{{ p.end_date }}</td>
                    <td class="actions">
                        <ul class="action-group">
                            <li><a href="{% url 'period' pk=p.id %}">view</a></li>
                            <li><a href="{% url 'period' pk=p.id action='edit' %}">edit</a></li>
                            <li><a href="{% url 'worked-hours' period_pk=p.id %}">hours</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No periods found matching the current search criteria.</p>
{% endif %}

{% endblock %}