{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'periods' %}">periods</a></li>
{% if period %}
    <li><a href="{% url 'period' pk=period.id %}">{{ period.code }}</a></li>
    <li><span>edit</span></li>
{% else %}
    <li><span>add</span></li>
{% endif %}

{% endblock %}


{% block body %}

<h3>{% if period %}Edit{% else %}Add{% endif %} Period</h3>

<form method="POST">

    {% csrf_token %}
    {{ main_form }}

    <div class="buttons">
        <button type="reset">Reset</button>
        <button type="submit" class="button-primary">Save</button>
    </div>

</form>

{% endblock %}
