{% extends 'apps/base.html' %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li>companies</li>
<li><a href="{% url 'company' action='add' %}" title="add">+</a></li>

{% endblock %}


{% block body %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for c in companies %}
            <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.code }}</td>
                <td class="actions">
                    <a href="{% url 'company' pk=c.id %}">view</a>
                    <a href="{% url 'company' pk=c.id action='edit' %}">edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}