{% extends 'apps/base.html' %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><span>companies</span></li>
<li><a href="{% url 'company' action='add' %}" title="add">+</a></li>

{% endblock %}


{% block body %}

{% include 'apps/search-form.html' %}

{% if companies %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for c in companies %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td>{{ c.code }}</td>
                    <td class="actions">
                        <ul class="action-group">
                            <li><a href="{% url 'company' pk=c.id %}">view</a></li>
                            <li><a href="{% url 'company' pk=c.id action='edit' %}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No campanies found matching the current search criteria.</p>
{% endif %}

{% endblock %}