{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'companies' %}">companies</a></li>
<li><span>{{ company.code }}</span></li>
<li><a href="{% url 'company' pk=company.id action='edit' %}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <h4>Main Information</h4>
    <dl>
        <dt>Code</dt><dd>{{ company.code }}</dd>
        <dt>Name</dt><dd>{{ company.name}}</dd>
    </dl>
</div>

{% endblock %}