{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'departments' %}">departments</a></li>
<li><span>{{ department.code }}</span></li>
<li><a href="{% url 'department' pk=department.id action='edit' %}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <h3>Department</h3>
    <dl>
        <dt>Code</dt><dd>{{ department.code }}</dd>
        <dt>Name</dt><dd>{{ department.name}}</dd>
    </dl>
</div>

{% endblock %}
