{% extends 'apps/base.html' %}

{% load tags %}
{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'positions' %}">positions</a></li>
<li><span>{{ position.code }}</span></li>
<li><a href="{% url 'position' pk=position.id action='edit' %}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <h4>Main Information</h4>
    <dl>
        <dt>Code</dt><dd>{{ position.code }}</dd>
        <dt>Name</dt><dd>{{ position.name}}</dd>
        <dt>Labour Types</dt>
        <dd>
            <ul>
                {% get position 'labour_types_for' request.user as labour_types %}
                {% for lt in labour_types %}
                    <li>{{ lt }}</li>
                {% empty %}
                    -
                {% endfor %}
            </ul>
        </dd>
    </dl>
</div>

{% endblock %}
