{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'positions' %}">positions</a></li>
{% if position %}
    <li><a href="{% url 'position' pk=position.id %}">{{ position.code }}</a></li>
    <li><span>edit</span></li>
{% else %}
    <li><span>add</span></li>
{% endif %}

{% endblock %}


{% block body %}

<form method="POST">

    {% csrf_token %}
    {{ main_form }}

    <div class="buttons">
        <button type="reset">Reset</button>
        <button type="submit" class="button-primary">Save</button>
    </div>

</form>

{% endblock %}


{% block scripts %}

    <script src="{% static 'js/filter-multi-select.js' %}"></script>
    <script>
        (function() {
            // Use FilterMultiSelect to turn multi-select into something usable
            var labourTypes = document.querySelector('#id_main-pos_labour_types');
            var labourTypesSelect = new FilterMultiSelect(labourTypes);
            labourTypesSelect.start();
        })();
    </script>

{% endblock %}