{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

{% endblock %}



{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'teams' %}">teams</a></li>
<li><span>{{ team.code }}</span></li>
<li><a href="{% url 'team' pk=team.id action='edit' %}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <h3>Team</h3>
    <dl>
        <dt>Code</dt><dd>{{ team.code }}</dd>
        <dt>Name</dt><dd>{{ team.name }}</dd>
        <dt>Company</dt><dd>{{ team.company }}</dd>
    </dl>
</div>

<hr>

<div class="row">
    <h4>Management</h4>
    <dl>
        <dt>Timekeepers</dt>
        <dd>
            <ul>
                {% for tk in team.timekeepers.all %}
                    <li>{{ tk }}</li>
                {% empty %}
                    <li>-</li>
                {% endfor %}
            </ul>
        </dd>
        <dt>Reviewers</dt>
        <dd>
            <ul>
                {% for s in team.supervisors.all %}
                    <li>{{ s }}</li>
                {% empty %}
                    <li>-</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
</div>

<hr>

<div class="row">
    <h4>Assignments</h4>
    <dl>
        <dt>Employees</dt>
        <dd>
            <ul>
                {% for e in team.employees %}
                    <li>{{ e }}</li>
                {% empty %}
                    -
                {% endfor %}
            </ul>
        </dd>
        <dt>Equipment</dt>
        <dd>
            <ul>
                {% for e in team.equipment %}
                    <li>{{ e }}</li>
                {% empty %}
                    -
                {% endfor %}
            </ul>
        </dd>
        <dt>Activities</dt>
        <dd>
            <ul>
                {% for a in team.activities.all %}
                    <li><b>{{ a.full_wbs_code }}</b> - {{ a.name }}</li>
                {% empty %}
                    -
                {% endfor %}
            </ul>
        </dd>
    </dl>
</div>

{% endblock %}
