{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><span>teams</span></li>
<li><a href="{% url 'team' action='add' %}" title="add">+</a></li>

{% endblock %}


{% block body %}

{% include 'apps/search-form.html' %}
{% include 'apps/paginator.html' with list=teams %}

{% if teams %}
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Company</th>
                <th>Employees</th>
                <th>Equipment</th>
                <th>Activities</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for t in teams %}
                <tr>
                    <td>{{ t.code }}</td>
                    <td>{{ t.name }}</td>
                    <td title="{{ t.company.name }}">{{ t.company.code }}</td>
                    <td>{{ t.employees_resources.count }}</td>
                    <td>{{ t.equipment_resources.count }}</td>
                    <td>{{ t.activities.count }}</td>
                    <td class="actions">
                        <ul class="action-group">
                            <li><a href="{% url 'team' pk=t.id %}">view</a></li>
                            <li><a href="{% url 'team' pk=t.id action='edit' %}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No teams found matching the current search criteria.</p>
{% endif %}

{% endblock %}
