## Generic targeting (files in any subdirectories)

# Compiled python binaries
*.pyc


## Specific targeting

# KDE cache
.directory

# IDE config files
.p*roject
/.idea/

# SQLite database file
/data/db.*

# STATIC_ROOT directory used in production
/static/

# Test reports and sonar cache
.sonar
.coverage
test-results.xml
test-coverage.xml
