## Generic targeting (files in any subdirectories)

# Compiled python binaries
*.pyc

# KDE cache files
.directory


## Specific targeting

# JetBrains IDE config files
/.idea/

# SQLite database file
/data/db.*

# STATIC_ROOT directory used in production
/static/

# Test reports
.coverage
test-results.xml
test-coverage.xml
