## Generic targeting (files in any subdirectories)

# Compiled python binaries
*.pyc

# KDE cache files
.directory


## Specific targeting

# Wiki (I like to keep it inside the project dir)
/wiki/

# IDE files (JetBrains, Eclipse)
/.idea/
/.p*roject

# SQLite database file
/data/db.*

# STATIC_ROOT directory used in production
/static/

# Test reports and sonar cache
/.coverage
/.sonar
/test-results.xml
/test-coverage.xml
