{% extends 'apps/base.html' %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><span>wbs</span></li>
<li><a href="{% url 'activity' action='add' %}">+</a></li>

{% endblock %}


{% block body %}

{% include 'apps/search-form.html' %}

{% if activities %}
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Labour</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for a in activities %}
                <tr>
                    <td>{{ a.wbs_code }}</td>
                    <td>{{ a.name }}</td>
                    <td>
                        <span class="label {% if a.managerial_labour %}enabled{% else %}disabled{% endif %}">MGT</span>
                        <span class="label {% if a.indirect_labour %}enabled{% else %}disabled{% endif %}">IND</span>
                        <span class="label {% if a.direct_labour %}enabled{% else %}disabled{% endif %}">DIR</span>
                    </td>
                    <td class="actions">
                        <ul class="action-group">
                            <li><a href="{% url 'activity' pk=a.id %}">view</a></li>
                            <li><a href="{% url 'activity' pk=a.id action='edit' %}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No activities found matching the current search criteria</p>
{% endif %}

{% include 'apps/paginator.html' with list=activities %}

{% endblock %}