{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><span>activities</span></li>
<li><a href="{% url 'activity' action='add' %}">+</a></li>

{% endblock %}


{% block body %}

{% include 'apps/search-form.html' %}
{% include 'apps/paginator.html' with list=activities %}

{% if activities %}
    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Code</th>
                <th>Name</th>
                <th>Labour</th>
                <th>Groups</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for a in activities %}
                <tr>
                    <td title="{{ a.project.name }}">{{ a.project.code }}</td>
                    <td>{{ a.wbs_code }}</td>
                    <td>{{ a.name }}</td>
                    <td>
                        {% for lt in a.labour_types.all %}
                            <span class="label" title="{{ lt.name }}">{{ lt.code }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        {% for g in a.groups.all %}
                            <span class="label" title="{{ g.name }}">{{ g.code }}</span>
                        {% endfor %}
                    </td>
                    <td class="actions">
                        <ul class="action-group">
                            <li><a href="{% url 'activity' pk=a.id %}">view</a></li>
                            <li><a href="{% url 'activity' pk=a.id action='edit' %}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No activities found matching the current search criteria</p>
{% endif %}

{% endblock %}