{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

{% endblock %}



{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'activities' %}">activities</a></li>
<li><span>{{ activity.wbs_code }}</span></li>
<li><a href="{% url 'activity' pk=activity.id action='edit' %}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <h4>Main Information</h4>

    <dl>
        <dt>Project</dt><dd>{{ activity.project }}</dd>
        <dt>WBS Code</dt><dd>{{ activity.wbs_code }}</dd>
        <dt>Name</dt><dd>{{ activity.name }}</dd>
        <dt>Labour Types</dt>
        <dd>
            <ul>
                {% for lt in activity.labour_types.all %}
                    <li>{{ lt }}</li>
                {% empty %}
                    -
                {% endfor %}
            </ul>
        </dd>
        <dt>Groups</dt>
        <dd>
            <ul>
                {% for g in activity.groups.all %}
                    <li>{{ g }}</li>
                {% empty %}
                    -
                {% endfor %}
            </ul>
        </dd>
    </dl>

</div>

{% endblock %}