{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'activities' %}">wbs</a></li>
{% if activity %}
    <li><a href="{% url 'activity' pk=activity.id %}">{{ activity.wbs_code }}</a></li>
    <li><span>edit</span></li>
{% else %}
    <li><span>add</span></li>
{% endif %}

{% endblock %}


{% block body %}

<form method="POST">

    {% csrf_token %}
    {{ main_form }}

    <div class="buttons">
        <button type="reset">Reset</button>
        <button type="submit">Save</button>
    </div>

</form>

{% endblock %}


{% block scripts %}

    <script src="{% static 'js/filter-multi-select.js' %}"></script>
    <script>
        // Use FilterMultiSelect to turn multi-select into something usable
        var groups = document.querySelector('#id_main-groups');
        var labourTypes = document.querySelector('#id_main-labour_types');
        var groupsSelect = new FilterMultiSelect(groups);
        var labourTypesSelect = new FilterMultiSelect(labourTypes);
        groupsSelect.start();
        labourTypesSelect.start();
    </script>

{% endblock %}