{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'labour-types' %}">labour types</a></li>
<li><span>{{ labourtype.code }}</span></li>
<li><a href="{% url 'labour-type' pk=labourtype.id action='edit' %}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <h3>Labour Type</h3>
    <dl>
        <dt>Code</dt><dd>{{ labourtype.code }}</dd>
        <dt>Name</dt><dd>{{ labourtype.name}}</dd>
    </dl>
</div>

{% endblock %}
