{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><span>labour types</span></li>
<li><a href="{% url 'labour-type' action='add' %}" title="add">+</a></li>

{% endblock %}


{% block body %}

{% include 'apps/search-form.html' %}
{% include 'apps/paginator.html' with list=labourtypes %}

{% if labourtypes %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for lt in labourtypes %}
                <tr>
                    <td>{{ lt.name }}</td>
                    <td>{{ lt.code }}</td>
                    <td class="actions">
                        <ul class="action-group">
                            <li><a href="{% url 'labour-type' pk=lt.id %}">view</a></li>
                            <li><a href="{% url 'labour-type' pk=lt.id action='edit' %}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No labour types found matching the current search criteria.</p>
{% endif %}

{% endblock %}