{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'labour-types' %}">labour types</a></li>
{% if labourtype %}
    <li><a href="{% url 'labour-type' pk=labourtype.id %}">{{ labourtype.code }}</a></li>
    <li><span>edit</span></li>
{% else %}
    <li><span>add</span></li>
{% endif %}

{% endblock %}


{% block body %}

<h3>{% if labourtype %}Edit{% else %}Add{% endif %} Labour Type</h3>

<form method="POST">

    {% csrf_token %}
    {{ main_form }}

    <div class="buttons">
        <button type="reset">Reset</button>
        <button type="submit" class="button-primary">Save</button>
    </div>

</form>

{% endblock %}
