{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link href="{% static 'css/project-edit.css' %}" rel="stylesheet">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'projects' %}">projects</a></li>
{% if project %}
    <li><a href="{% url 'project' pk=project.id %}">{{ project }}</a></li>
    <li><span>edit</span></li>
{% else %}
    <li><span>add</span></li>
{% endif %}

{% endblock %}


{% block body %}

<form method="POST">

    {% csrf_token %}

    {{ main_form }}

    {% include 'wbs-form.html' %}

</form>

{% endblock %}


{% block scripts %}

    {{ block.super }}
    <script src="{% static 'js/wbs-edit.js' %}"></script>

{% endblock %}