{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'projects' %}">projects</a></li>
{% if project %}
    <li><a href="{% url 'project' pk=project.id %}">{{ project.code }}</a></li>
    <li><span>edit</span></li>
{% else %}
    <li><span>add</span></li>
{% endif %}

{% endblock %}


{% block body %}

<h3>{% if project %}Edit{% else %}Add{% endif %} Project</h3>

<form method="POST">

    {% csrf_token %}

    {{ main_form }}

    <div class="buttons">
        <button type="reset">Reset</button>
        <button type="submit" class="button-primary">Save</button>
    </div>

</form>

{% endblock %}
