/*** Collection list view ***/

/** Search form **/

.search-form {
    text-align: center;
    margin: 12px 0;
    padding-bottom: 0;
}

.search-form button,.search-form input {
    margin-bottom: 0;
}

.search-form input[name=page_size] {
    width: 7em;
    padding-right: 1px;
}

.search-form ul, .search-form li, .search-form label {
    display: inline;
}

.search-form ul li label {
    font-weight: normal;
}

.search-form .radio-group {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 6px 6px;
    margin-bottom: 6px;
}

.search-form .radio-group input {
    margin-left: 4px;
    vertical-align: middle;
}


/** Paginator **/

.paginator {
    text-align: center;
    margin: 12px 0;
}

.paginator span.disabled {
    color: #888;
}


/** Results, table or message **/

table {
    margin: 12px auto;
}

table .actions {
    border: 0;
    background: #eee;
    padding: 0 6px;
}

p {
    text-align: center;
}
