/* Nav */

.container  {
    padding: 10px 0;
}

nav .row {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 4px 4px 0 4px;
    background: #eee;
}

.nav-menu {
    float: right;
}

/* Notifications */

.notification {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 10px 15px;
}

.notification:first-of-type {
    border-top: 1px solid #aaa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.notification:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.notification .title {
    font-weight: bold;
}

.notification .timestamp  {
    float: right;
}