/*** Styles used by notifications widgets. ***/

#notifications {
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 20px;
}

#notifications > .title {
    background: #f4f4ff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 0;
    padding: 4px 12px;
}

.notification {
    border-top: 1px solid #ddd;
    padding: 8px 8px;
}

.notification p {
    margin-bottom: 0;
    margin-top: 4px;
}

.notification .title {
    background: #5bd;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
    padding: 4px 8px;
}

.notification .timestamp {
    border: 1px;
    margin-left: 4px;
}

.notification .action {
    background: #f4f4ff;
    border: 1px solid #bbb;
    border-radius: 10px;
    font-weight: bold;
    margin: 0;
    padding: 2px 8px;
}

/* Disabled notifs, make them dark and hide action buttons */

.notification.disabled {
    background: #eee;
}

.notification.disabled .action {
    display: none;
}

.notification.disabled .title {
    background: #aaa;
    color: #eee;
}