/*** Styles used by notifications widgets. ***/

#notifications {
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 20px;
}

#notifications .title {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 0;
    padding: 4px 12px;
}

.notification {
    padding: 10px 15px;
}

.notification:first-of-type {
    border-top: 1px solid #ddd;
}

.notification .title {
    font-weight: bold;
}

.notification .timestamp  {
    float: right;
}
