/*** Styles used by notifications widgets. ***/

#notifications {
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 20px;
}

#notifications .title {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 0;
    padding: 4px 12px;
}

.notification {
    padding: 12px 12px;
}

.notification:first-of-type {
    border-top: 1px solid #ddd;
}

.notification .title,.notification .action {
    font-weight: bold;
}

.notification .timestamp {
    border: 1px;
    margin-left: 4px;
}

.notification .action {
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 2px 8px;
}

/* Disabled notifs, make them dark and hide action buttons */

.notification.disabled {
    background: #eee;
}

.notification.disabled .action {
    display: none;
}