/*** Project edit styles, including crazy activities formset ***/

.project-wbs .head {
    font-weight: bold;
    margin-bottom: 12px;
}

.project-wbs .body {
    padding: 0;
    margin: 0;
}

.project-wbs .body select {
    height: 38px;
}

.project-wbs .body input,.project-wbs .body select {
    width: 100%;
    margin-bottom: 0;
}

.project-wbs .body .wbs-code {
    display: inline;
}

.errorlist, .errorlist li {
    margin-bottom: 0;
}

.project-wbs .body .wbs-code input {
    width: 60px;
}
