/*** Styls for timesheet elements ***/

.grid-column {
    width: 60px;
    display: inline-table;
}

.timesheet-header .activity {
    text-align: center;
    line-height: 1em;
}

.timesheet-header .activities-title {
    float: right;
}

.timesheet-body .resource {
    line-height: 1.1em;
}

.timesheet-body .resource span:first-of-type{
    font-weight: bold;
}

.timesheet-body .log input {
    width: 100%;
}

.timesheet-body .log.invalid input {
    border: 1px solid #f00;
    box-shadow: 0 0 2px #f00;
}

.timesheet-body .log input[disabled=disabled] {
    border: 0;
}
