/*** Styls for timesheet elements ***/

.grid-column {
    width: 60px;
    display: inline-table;
}

.timesheet-header .activity {
    text-align: center;
    line-height: 1em;
}

.timesheet-header .activities-title {
    float: right;
}

.timesheet-body .employee-name {
    font-weight: bold;
}

.timesheet-body .log {
    padding: 0;
}

.timesheet-body .log input {
    width: 100%;
    text-align: center;
}

.timesheet-body .log.invalid input {
    border: 1px solid #f00;
    box-shadow: 0 0 2px #f00;
}

