/*** Project edit styles, including crazy activities formset ***/

.project-wbs .head {
    font-weight: bold;
    margin-bottom: 12px;
}

.project-wbs .body {
    padding: 0;
    margin: 0;
}

.project-wbs .body select,.project-wbs .body input {
    height: 32px;
}

.project-wbs .body input,.project-wbs .body select {
    width: 100%;
    margin-bottom: 0;
}

.project-wbs .body .wbs-code {
    display: inline;
}

.project-wbs .body .wbs-code input {
    width: 60px;
}

.errorlist, .errorlist li {
    margin-bottom: 0;
}

.project-wbs .body .action-group {
    display: inline;
}

.project-wbs .body .actions {
    padding-top: 4px;
}

.wbs-code input {
    margin-right: 6px;
}

.hidden {
    display: none !important;
}

a.disabled {
    color: #888;
}
