{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'users' %}">users</a></li>
<li><a href="{% url 'user' pk=request.user.id %}">{{ request.user.username }}</a></li>
<li><span>password</span></li>

{% endblock %}


{% block body %}

<h3>Change Password</h3>

<p>Enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<form method="POST">

    {% csrf_token %}
    {{ form }}

    <input type="hidden" name="next" value="{{ next }}" />

    <div class="buttons">
        <button type="submit" class="button-primary">Change Password</button>
    </div>

</form>

{% endblock %}
