{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'users' %}">users</a></li>
<li><a href="{% url 'user' pk=user.id %}">{{ user.username }}</a></li>
<li><span>edit</span></li>

{% endblock %}


{% block body %}

<form method="POST">

    {% csrf_token %}
    {{ main_form }}

    <div class="buttons">
        <button type="reset">Reset</button>
        <button type="submit" class="button-primary">Save</button>
    </div>

</form>

{% endblock %}


{% block scripts %}

    <script src="{% static 'js/filter-multi-select.js' %}"></script>
    <script>
        (function() {
            // Use FilterMultiSelect to turn multi-select into something usable
            var groups = document.querySelector('#id_main-groups');
            var groupsSelect = new FilterMultiSelect(groups);
            groupsSelect.start();
        })();
    </script>

{% endblock %}