{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super}}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

{% endblock %}



{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'timesheets' %}">time-sheets</a></li>
<li><a href="{%url 'timesheet' pk=timesheet.id %}">{{ timesheet.code }}</a></li>
<li><span>action</span></li>

{% endblock %}


{% block body %}

<div class="row">
    <h4>Main Information</h4>
    {% include 'timesheet-info.html' %}
</div>

<hr>

<div class="row">
    <h5>Work</h5>
    {% include 'worklogs-table.html' %}
</div>

<hr>

<form method="POST">
    <h5>Review</h5>
    {% csrf_token %}
    {{ main_form }}
    <div class="buttons">
        <button type="submit" class="button-primary">Confirm</button>
    </div>

</form>


{% endblock %}