{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li>time-sheets</li>
<li><a href="{% url 'timesheet' action='add' %}" title="add">+</a></li>

{% endblock %}


{% block body %}

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Team</th>
            <th>Date</th>
            <th>Status</th>
            <th>Issued By</th>
            <th>Issued On</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for t in timesheets %}
            <tr>
                <td>{{ t.code }}</td>
                <td>{{ t.team }}</td>
                <td>{{ t.date }}</td>
                <td>{{ t.get_status_display }}</td>
                <td>{{ t.issuer }}</td>
                <td>{{ t.timestamp }}</td>
                <td class="actions">
                    <a href="{% url 'timesheet' pk=t.id %}" class="action">view</a>
                    <a href="{% url 'timesheet' pk=t.id action='edit' %}" class="action">edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}