{% extends 'apps/base.html' %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'timesheets' %}">time-sheets</a></li>
<li>{{ timesheet }}</li>
<li><a href="{% url 'timesheet' pk=timesheet.id action='edit' %}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <h4>Main</h4>
    <dl>
        <dt>Team</dt><dd>{{ timesheet.team }}</dd>
        <dt>Date</dt><dd>{{ timesheet.date }}</dd>
        <dt>Status</dt><dd>{{ timesheet.get_status_display }}</dd>
    </dl>
</div>
<div class="row">
    <h4>Work Logs</h4>
    <table>
        <thead>
            <tr>
                <th>Employee</th>
                <th colspan="2">Activity</th>
                <th>Labour</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            {% for employee, activities in timesheet.work_logs_data.items %}
                <tr>
                    <td rowspan="{{ activities|length }}">
                        <b>{{ employee.identifier }}</b><br>
                        {{ employee.full_name }}<br>
                        {{ employee.position }}
                    </td>
                    <td colspan="3" class="subtotal">Overall</td>
                    <td class="subtotal">{{ activities.total }}</td>
                </tr>
                {% for activity, log in activities.items %}
                    {% if activity.id %}
                    <tr>
                        <td>{{ activity.wbs_code }}</td>
                        <td>{{ activity.name }}</td>
                        <td>{{ activity.get_labour_type_display }}</td>
                        <td>{{ log.hours }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}