{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super}}
    <link rel="stylesheet" href="{% static 'css/timesheets.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'timesheets' %}">time-sheets</a></li>
<li><span>{{ timesheet.code }}</span></li>
<li><a href="{% url 'timesheet' pk=timesheet.id action='edit' %}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <h4>Main</h4>
    <dl>
        <dt>Team</dt><dd>{{ timesheet.team }}</dd>
        <dt>Date</dt><dd>{{ timesheet.date }}</dd>
        <dt>Status</dt><dd>{{ timesheet.get_status_display }}</dd>
    </dl>
</div>

{% include 'worklogs-table.html' %}

{% endblock %}