{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/timesheets.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'timesheets' %}">time-sheets</a></li>
{% if timesheet %}
    <li><a href="{%url 'timesheet' pk=timesheet.id %}">{{ timesheet.code }}</a></li>
    <li><span>edit</span></li>
{% else %}
    <li><span>add</span></li>
{% endif %}

{% endblock %}


{% block body %}

<form method="POST">
    <div class="row">
        <h4>{{ timesheet.team }} <small>time-sheet</small></h4>
        {% csrf_token %}
        {{ main_form }}
    </div>

    <hr>

    {% if sub_form %}
    <div class="row">
        <h5>Work</h5>
        {% include 'worklogs-form.html' %}
    </div>
    {% endif %}

    <div class="buttons">
        <button type="submit" class="button-primary">Save</button>
    </div>

</form>


{% endblock %}