{% if sub_form.errors or sub_form.alerts %}
<div class="error-list">
    <ul class="errorlist">
    {% for error in sub_form.non_field_errors %}
        <li>{{ error }}</li>
    {% endfor %}

    {% for alert in sub_form.alerts %}
        <li>{{ alert }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class="row timesheet-header">
    <div class="three columns">
        <h4><span class="activities-title">Activities</span><br>Resources</h4>
    </div>
    <div class="nine columns">
        {% for activity in timesheet.activities.values %}
            <div class="grid-column activity" title="{{ activity.name }}">
                {{ activity.full_wbs_path|join:'<br>' }}
            </div>
        {% endfor %}
    </div>
</div>

<div class="row timesheet-body">
    {% for row in sub_form.rows %}
        <div class="row">

            <div class="three columns resource">
                {% if row.resource.resource_type == 'employee' %}
                    <span>{{ row.resource.identifier}}</span><br>
                    <span>
                        {{ row.resource.employee.full_name }}<br>
                        {{ row.resource.employee.position }}
                    </span>
                {% else %}
                    <span>{{ row.resource.identifier }}</span><br>
                    <span>
                        {{ row.resource.equipment.model }}<br>
                        {{ row.resource.equipment.type }}
                    </span>
                {% endif %}
            </div>

            <div class="nine columns logs">
                {% for log in row.logs %}
                    <div class="grid-column log {% if log.field.errors %}invalid{% endif %}">
                        {{ log.field }}
                    </div>
                {% endfor %}
            </div>

        </div>
    {% endfor %}
</div>