{% extends 'apps/base.html' %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'employees' %}">employees</a></li>
{% if employee %}
    <li><a href="{% url 'employee' pk=employee.id %}">{{ employee }}</a></li>
    <li><span>edit</span></li>
{% else %}
    <li><span>add</span></li>
{% endif %}

{% endblock %}


{% block body %}

<form method="POST">

    {% csrf_token %}
    {{ main_form }}

    <div class="buttons">
        <button type="reset" value="reset">Reset</button>
        <button type="submit" value="save" class="button-primary">Save</button>
    </div>

</form>

{% endblock %}