{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'employees' %}">employees</a></li>
<li><span>{{ employee.identifier }}</span></li>
<li><a href="{% url 'employee' pk=employee.id action='edit'%}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <h3>Employee</h3>
    <dl>
        <dt>Identifier</dt><dd>{{ employee.identifier }}</dd>
        <dt>Name</dt><dd>{{ employee.full_name }}</dd>
        <dt>Gender</dt><dd>{{ employee.get_gender_display }}</dd>
    </dl>
</div>

<hr>

<div class="row">
    <h4>Organization</h4>
    <dl>
        <dt>Company</dt><dd>{{ employee.company }}</dd>
        <dt>Team</dt><dd>{{ employee.team|default:'-' }}</dd>
        <dt>Position</dt><dd>{{ employee.position.name }}</dd>
    </dl>
</div>

<hr>

<div class="row">

    <ul class="action-group header-action-group">
        <li><a href="{% url 'employee-projects' parent_pk=employee.resource_ptr_id %}">view all</a></li>
        <li><a href="{% url 'employee-project' parent_pk=employee.resource_ptr_id action='add' %}">add</a></li>
    </ul>
    <h4>Projects</h4>

    {% if employee.assigned_projects.exists %}
        <table>
            <thead>
                <th colspan="2">Project</th><th colspan="2">Period</th>
            </thead>
            <tbody>
                {% for pa in employee.assigned_projects %}
                    <tr class="{% if pa.is_current %}dark{% endif %}">
                        <td>{{ pa.project.code }}</td>
                        <td>{{ pa.project.name }}</td>
                        <td>{{ pa.start_date }}</td>
                        <td>{{ pa.end_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Employee has no approved project assignments.
    {% endif %}
</div>

{% endblock %}
