{% extends 'apps/base.html' %}

{% block body %}

    <h1>Employees</h1>

    <table class="u-full-width">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Nationality</th>
                <th>Company</th>
                <th>Team</th>
                <th>Position</th>
                <th>Project</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for e in employees %}
                <tr>
                    <td><a href="{% url 'employee' pk=e.id %}">{{ e.identifier }}</a></td>
                    <td>{{ e.full_name }}</td>
                    <td>{{ e.nationality }}</td>
                    <td>{{ e.company }}</td>
                    <td>{{ e.team }}</td>
                    <td>{{ e.position }}</td>
                    <td>{{ e.project }}</td>
                    <td>{{ e.location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}