{% extends 'apps/base.html' %}

{% load tags %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'equipment-types' %}">equipment types</a></li>
<li><span>{{ equipmenttype.code }}</span></li>
<li><a href="{% url 'equipment-type' pk=equipmenttype.id action='edit' %}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <h3>Equipment Type</h3>
    <dl>
        <dt>Name</dt><dd>{{ equipmenttype.name }}</dd>
        <dt>Code</dt><dd>{{ equipmenttype.code }}</dd>
        <dt>Parent</dt><dd>{{ equipmenttype.parent|default:'-' }}</dd>
        <dt>Labour Types</dt>
        <dd>
            <ul>
                {% get equipmenttype 'labour_types_for' request.user as labour_types %}
                {% for lt in labour_types %}
                    <li>{{ lt }}</li>
                {% empty %}
                    -
                {% endfor %}
            </ul>
        </dd>
    </dl>
</div>

{% endblock %}
