{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><span>equipment</span></li>
<li><a href="{% url 'equipment' action='add' %}" title="add">+</a></li>

{% endblock %}


{% block body %}

{% include 'apps/search-form.html' %}
{% include 'apps/paginator.html' with list=equipment %}


{% if equipment %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Model</th>
                <th>Year</th>
                <th>Type</th>
                <th>Company</th>
                <th>Team</th>
                <th>Project</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for e in equipment %}
                <tr>
                    <td>{{ e.identifier }}</td>
                    <td>{{ e.model }}</td>
                    <td>{{ e.year }}</td>
                    <td title="{{ e.type.name }}">{{ e.type.code }}</td>
                    <td title="{{ e.company.name }}">{{ e.company.code }}</td>
                    <td title="{{ e.team.name }}">{{ e.team.code }}</td>
                    <td title="{{ e.project.name }}">{{ e.project.code }}</td>
                    <td class="actions">
                        <ul class="action-group">
                            <li><a href="{% url 'equipment' pk=e.id %}" class="action">view</a></li>
                            <li><a href="{% url 'equipment' pk=e.id action='edit' %}" class="action">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No equipment found matching the current search criteria.</p>
{% endif %}

{% endblock %}