{% extends 'apps/base.html' %}

{% load staticfiles %}
{% load tags %}


{% block styles %}

    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><span>equipment types</span></li>
<li><a href="{% url 'equipment-type' action='add' %}" title="add">+</a></li>

{% endblock %}


{% block body %}

{% include 'apps/search-form.html' %}
{% include 'apps/paginator.html' with list=equipmenttypes %}

{% if equipmenttypes %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Parent</th>
                <th>Labour Types</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for et in equipmenttypes%}
                <tr>
                    <td>{{ et.name }}</td>
                    <td>{{ et.code }}</td>
                    <td>{{ et.parent|default:'-' }}</td>
                    <td>
                        {% get et 'labour_types_for' request.user as labour_types %}
                        {% for lt in labour_types %}
                            <span class="label" title="{{ lt.name }}">{{ lt.code }}</span>
                        {% endfor %}
                    </td>
                    <td class="actions">
                        <ul class="action-group">
                            <li><a href="{% url 'equipment-type' pk=et.id %}">view</a></li>
                            <li><a href="{% url 'equipment-type' pk=et.id action='edit' %}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No equipment types found matching the current search criteria.</p>
{% endif %}

{% endblock %}
