{% extends 'apps/base.html' %}


{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'equipment-types' %}">equipment types</a></li>
{% if equipmenttype %}
    <li><a href="{% url 'equipment-type' pk=equipmenttype.id %}">{{ equipmenttype.code }}</a></li>
    <li><span>edit</span></li>
{% else %}
    <li><span>add</span></li>
{% endif %}

{% endblock %}


{% block body %}

<h3>{% if equipmenttype %}Edit{% else %}Add{% endif %} Equipment Type</h3>

<form method="POST">

    {% csrf_token %}
    {{ main_form }}

    <div class="buttons">
        <button type="reset">Reset</button>
        <button type="submit" class="button-primary">Save</button>
    </div>

</form>

{% endblock %}