{% extends 'apps/base.html' %}

{% block breadcrumbs %}

<li><a href="/">home</a></li>
<li><a href="{% url 'equipments' %}">equipment</a></li>
<li><span>{{ equipment }}</span></li>
<li><a href="{% url 'equipment' pk=equipment.id action='edit' %}">edit</a></li>

{% endblock %}


{% block body %}

<div class="row">
    <div class="six columns">
        <h4>Details</h4>
        <dl>
            <dt>Identifier</dt><dd>{{ equipment.identifier }}</dd>
            {% if equipment.type.parent %}
                <dt>Type</dt><dd>{{ equipment.type.parent}} > {{ equipment.type }}</dd>
            {% else %}
                <dt>Type</dt><dd>{{ equipment.type }}</dd>
            {% endif %}
        </dl>
    </div>

    <div class="six columns">
        <h4>Assignment</h4>
        <dl>
            <dt>Company</dt><dd>{{ equipment.company }}</dd>
            <dt>Team</dt><dd>{{ equipment.team }}</dd>
            <dt>Project</dt><dd>{{ equipment.project }}</dd>
        </dl>
    </div>
</div>

{% endblock %}