{% extends 'apps/base.html' %}

{% block body %}

<h1>Equipment</h1>

<table class="u-full-width">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Company</th>
            <th>Team</th>
            <th>Project</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for e in equipment %}
            <tr>
                <td><a href="{% url 'equipment' pk=e.id %}">{{ e.identifier }}</a></td>
                <td>{{ e.type }} ({{e.type.parent}})</td>
                <td>{{ e.company }}</td>
                <td>{{ e.team }}</td>
                <td>{{ e.project }}</td>
                <td>{{ e.location }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}