{% extends 'base.html' %}

{% load staticfiles %}

{% block styles %}

{{ block.super }}
<link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'libs/bootstrap/css/carousel.css' %}">

{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<h3>Existing user? <a href="{% url 'login' %}">here's where you log in</a></h3> .
<hr />

<div class="title">
    pjtracker &copy;
    <br /> 
    <span class="grey">Project Tracker Tool</span>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'img/menu/timesheets.png' %}" alt="Timesheets">
            <h2>Timesheets</h2>
            <p>
                Knowing how many hours you have spent in each project activity will help you understand where the cost is coming from.
                <br />
                Having access to accurate information helps you take right decisions; generate more accurate budgets and clearly improve your ROI.
            </p>
            <p>
                We provide a simple timesheet that is customized to allow loading hours only to previously assigned activities which minimizes the risk of wrongly data entry
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'img/menu/companies.png' %}" alt="Companies">
            <h2>Multi-company</h2>
            <p>
                You may handle multiple projects, on different locations and even group companies.
                <br />
                The same approach and a fine tuned setup will help your organization track the project progress and costs whit this user friendly tool
            </p>
            <p>
                This tool is customizable at the point that it'll surely fit your company structure and demands
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'img/menu/employees.png' %}" alt="Generic placeholder image">
            <h2>Employees</h2>
            <p>
                The biggest asset of any company is their staff.
                <br />
                Every collaborator in the company deserves to get paid correctly as per their conditions of service and on time
            </p>
            <p>
                We provide interfaces for payroll from the timesheet module. This will ensure project progress as well as salary are based on the same source
            </p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'img/menu/equipment.png' %}" alt="Generic placeholder image">
            <h2>Equipment</h2>
            <p>
                The same way you assign workers to a working team, you assign equipment.
                That equipment must also be tracked. Not only the location where the asset is but also its production
            </p>
            <p>
                The timesheet allows also to load worked hours of equipment in the different activities and phases of the project clearly identified
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'img/menu/projects.png' %}" alt="Generic placeholder image">
            <h2>Projects</h2>
            <p>
                Scheduling software allows to split a project in different milestones, WBS, phases etc.
                A project can contain thousand of activities and all those activities will eventualy receive man-hours or equipment hours.
                So an accurate input of the activities inside the tool is crucial.
            </p>
            <p>
                This tool allows you to import the list of WBS directly from task / project management software like Oracle Primavera P6 &reg;
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'img/menu/teams.png' %}" alt="Generic placeholder image">
            <h2>Teams</h2>
            <p>
                Employees that work together in the same location and their activities are related are part of a team.
                Per instance, welders, with grinders and also helpers.
                And those teams also make use of equipment.
                Usually those teams report to a team leader, supervisor, head of department, etc.
            </p>
            <p>
                Timesheets are generated based on teams and the hours entered by the timekeeper assigned to the team, are approved by a reponsible for that team
            </p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <p>
        <div class="title">
            <span class="grey">How</span> pjtracker &copy; <span class="grey">works?</span>
        </div>
    </p>
    <br /><br />
    <div class="row featurette" id="personal-protection">
        <div class="col-md-7">
            <h2 class="featurette-heading">1. WBS <span class="text-muted">definition</span></h2>
            <p class="lead">
                The WBS are imported from an interface.
                When the list of activities has been loaded, is responsibility of Project Control to determine
                if each activity can receive hours of management, direct or indirec type.
                This process is done only once because is very rare that an activity that is supposed to receive
                direct hours can change later on to receive only management hours.
                So the definition of the the type of hours is done at the beginning of the project only
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{% static 'img/menu/projects.png' %}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette"  id="escort-services">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">2. Manpower <span class="text-muted">Resources</span></h2>
            <p class="lead">
                The manpower will also be imported from an interface.
                The source of data can be an HR or payroll database that will be able to produce the list of workers
                currently active.
                This list is updated regularly thorouhg the same interface in order to include new hired staff or to remove those that have been terminated.
                After the import of the manpower the table of job titles (generated during this import process) shall be updated by
                identifying on each job title which type of hours the position will be able to book worked time. The types are direct, indirect and management hours
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="{% static 'img/menu/employees.png' %}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" id="maritime-services">
        <div class="col-md-7">
            <h2 class="featurette-heading">3. Equipment <span class="text-muted">Resources</span></h2>
            <p class="lead">
                The equipment list will also be imported.
                The source is usually the assets table that exists in the Accounting or ERP sytem the company is using to support their businesss.
                The import of equipment from the interface is usually done only once at the beginning of the project.
                There is need to import the interface again only when there is new equipment being assigned to the project.
                Equipment assigned to the project that is not being used will not register hours

            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{% static 'img/menu/equipment.png' %}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette"  id="escort-services">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">4. Teams <span class="text-muted">Definition</span></h2>
            <p class="lead">
                A team is a working unit.
                It is compossed by staff and equipment.
                A team includes those workers and equipment that are usually assigned to activities that they must be together to perform.
                In a workshop there could be one or more teams involved in several activities.
                Per instance, a welding team. It will include a forerman or supervisor, some welders, grinders, helpers, etc.
                The staff working in HR and responsible for the payroll are also part of a team.
                The protocol staff are a team.
                The concept of team helps to centralize the input of data for timekeeping purposes.
                A team must have a timekeeper assigned and at least one approver for the timesheet.
                A team will be allowed to charge hours to specific project adctivities that are defined usually by the planner of the project.
                Inside this tool a team is work unit that is allowed to charge hours to predefined WBS only.
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="{% static 'img/menu/employees.png' %}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" id="maritime-services">
        <div class="col-md-7">
            <h2 class="featurette-heading">5. Timesheet <span class="text-muted">Entry and Approval</span></h2>
            <p class="lead">
                The timekeeper assigned to input man and equipment hours for the team will do so in a daily basis.
                Once the timesheets has been completed the timekeeper will send the timesheet for review.
                This is done electronically and the review by the assiged user to review that team will be immediately notified.
                If there are more than one approver/reviewer assigned to a team once the first approval is done the workflow continues and notifies the next approver and so on until the timesheet is fully approved.
                As the team is allowed to charge hours to specific WBS assiged by the project, is not possible for the timekeeper to enter hours in activities that that team is suposed not to be involved.
                Once the timesheets are approved they are available for further consultation whenever is needed.
                The timesheet will save also the name and time of filling up by the timekeeper as well as the information of all the approvers that intervened.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{% static 'img/menu/timesheets.png' %}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

    <!-- FOOTER -->
    <footer>
        <p class="pull-right">
            <a href="#">Back to top</a>
        </p>
        <p>
            © 2015 pjtracker - A product of Enterprise Systems Consultancy Ltd · <a href="{% url 'public' page='privacy' %}" target="_blank">Privacy</a> · <a href="{% url 'public' page='terms' %}" target="_blank">Terms</a>
        </p>
    </footer>
</div>


{% endblock %}

{% block footer %}

{% endblock %}

{% block scripts %}

<script src="{% static 'libs/jquery/js/jquery.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock %}

