{% extends 'base.html' %}

{% load staticfiles %}

{% block nav %}

    <div class="row">
        <div class="nav-menu">
            <a href="{% url 'employees' %}" title="Employees"><img src="{% static 'img/menu/employees.png' %}"></a>
            <a href="{% url 'equipments' %}" title="Equipment"><img src="{% static 'img/menu/equipment.png' %}"></a>
            <a href="{% url 'projects' %}" title="Projects"><img src="{% static 'img/menu/activities.png' %}"></a>
            <a href="{% url 'timesheets' %}" title="Timesheets"><img src="{% static 'img/menu/timesheets.png' %}"></a>
            <a href="/admin" title="Administration"><img src="{% static 'img/menu/admin.png' %}"></a>
        </div>
        <div class="nav-brand">
        </div>
    </div>

{% endblock %}

{% block header %}

{% endblock %}

{% block footer %}

{% endblock %}