{% extends 'base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link href="{% static 'css/topbar.css' %}" rel="stylesheet">

{% endblock %}


{% block header %}

<div class="topbar">

    <nav>
        <ul id="nav">
            <li>
                <a href="#">Organizations</a>
                <ul>
                    <li><a href="{% url 'teams' %}">Teams</a></li>
                    <li><a href="{% url 'companies' %}">Companies</a></li>
                    <li><a href="{% url 'positions' %}">Positions</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Resources</a>
                <ul>
                    <li><a href="{% url 'employees' %}">Employees</a></li>
                    <li><a href="{% url 'equipments' %}">Equipment</a></li>
                    <li><a href="{% url 'equipment-types' %}">Equipment Types</a></li>
                </ul>
            </li>

            <li>
                <a href="#">WBS</a>
                <ul>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'activities' %}">Activities</a></li>
                    <li class="disabled"><a href="#">Labour Types</a></li>
                    <li class="disabled"><a href="#">Activity Groups</a></li>
                    <li class="disabled"><a href="#">Activity Group Types</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Work</a>
                <ul>
                    <li><a href="{% url 'timesheets' %}">Time-Sheets</a></li>
                    <li><a href="{% url 'hours' %}">Hours</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <img src="{% static 'img/menu/user.png' %}">
                    {{ request.user.username }}
                </a>
                <ul>
                    <li><a href="{% url 'settings' %}">Settings</a></li>
                    <li><a href="{% url 'users' %}">Users</a></li>
                    {% if user.is_staff %}
                        <li><a href="/admin/">Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="breadcrumbs">
        <ul class="action-group">{% block breadcrumbs %}{% endblock %}</ul>
    </div>

</div>

{% endblock %}


{% block footer %}

{% endblock %}
