{% extends 'base.html' %}

{% load staticfiles %}


{% block styles %}

    {{ block.super }}
    <link href="{% static 'css/topbar.css' %}" rel="stylesheet">

{% endblock %}


{% block header %}

<div class="topbar">

    <nav>
        <ul id="nav">
            <li>
                <a href="#">Organizations</a>
                <ul>
                    <li><a href="{% url 'teams' %}"><img src="{%  static 'img/menu/teams.png' %}"> Teams</a></li>
                    <li><a href="{% url 'companies' %}"><img src="{%  static 'img/menu/companies.png' %}"> Companies</a></li>
                    <li><a href="{% url 'positions' %}"><img src="{%  static 'img/menu/positions.png' %}"> Positions</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Resources</a>
                <ul>
                    <li><a href="{% url 'employees' %}"><img src="{%  static 'img/menu/employees.png' %}"> Employees</a></li>
                    <li><a href="{% url 'equipments' %}"><img src="{%  static 'img/menu/equipment.png' %}"> Equipment</a></li>
                    <li><a href="#">Equipment Types</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Work</a>
                <ul>
                    <li><a href="{% url 'projects' %}"><img src="{%  static 'img/menu/projects.png' %}"> Projects</a></li>
                    <li><a href="{% url 'activities' %}"><img src="{%  static 'img/menu/wbs.png' %}"> Activities</a></li>
                    <li><a href="#">Labour Types</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Deployment</a>
                <ul>
                    <li><a href="{% url 'timesheets' %}"><img src="{%  static 'img/menu/timesheets.png' %}"> Time-Sheets</a></li>
                    <li><a href="{% url 'hours' %}"><img src="{%  static 'img/menu/hours.png' %}"> Hours</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <img src="{% static 'img/menu/user.png' %}">
                    {{ request.user.username }}
                </a>
                <ul>
                    <li><a href="#"><img src="{%  static 'img/menu/settings.png' %}"> Settings</a></li>
                    {% if user.is_staff %}
                        <li><a href="/admin/"><img src="{%  static 'img/menu/admin.png' %}"> Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}"><img src="{%  static 'img/menu/logout.png' %}"> Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="breadcrumbs">
        <ul class="action-group">{% block breadcrumbs %}{% endblock %}</ul>
    </div>

</div>

{% endblock %}


{% block footer %}

{% endblock %}
