{% extends 'apps/base.html' %}

{% load staticfiles %}

{% block styles %}

{{ block.super }}
<link rel="stylesheet" href="{% static 'css/notifications.css' %}">

{% endblock %}

{% block breadcrumbs %}

<li>
    home
</li>

{% endblock %}

{% block body %}

<div class="row">

    <div class="eight columns">
        <h1>Welcome to <span class="light-blue">pjtracker&copy;</span>!</h1>
    </div>
    <div class="user-support-link">
        <span class="light-blue">User support?</span>&nbsp;<a href="http://support.pjtracker.com/" target="_blank">here's where you launch a ticket</a>
    </div>

    <div class="four columns">
        {% include 'apps/notifications.html' %}
    </div>

</div>

{% endblock %}