{% extends 'apps/base.html' %}

{% load staticfiles %}

{% block styles %}

{{ block.super }}
<link rel="stylesheet" href="{% static 'css/notifications.css' %}">

{% endblock %}

{% block breadcrumbs %}

<li>
    home
</li>

{% endblock %}

{% block body %}

<div class="row">

    <div class="eight columns">
        <h1>Welcome to <span class="light-blue">pjtracker&copy;</span>!</h1>
    </div>
    <div class="user-support-link">
        <span class="light-blue">User support?</span>&nbsp;<a href="http://support.pjtracker.com/" target="_blank">here's where you launch a ticket</a>
    </div>

    <div class="four columns">
        {% include 'apps/notifications.html' %}
    </div>

</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'libs/jquery/js/jquery.min.js' %}"></script>
<script src="{% static 'libs/canvas/js/canvasjs.min.js' %}"></script>
<script src="{% static 'js/extended.js' %}"></script>
<script>
    generate_graph("/resources/api/v0/employees/?format=json", "Resources", "column");

    generate_graph("/resources/api/v0/employees/?format=json", "Resources 2", "doughnut");

    generate_graph("/resources/api/v0/employees/?format=json", "Otro grafico", "pie");

    generate_graph("/resources/api/v0/employees/?format=json", "Grafico choto", "bar");

</script>
{% endblock %}
