{% extends 'apps/base.html' %}

{% load staticfiles %}


{% block styles %}

{{ block.super }}
<link rel="stylesheet" href="{% static 'css/notifications.css' %}">

{% endblock %}


{% block breadcrumbs %}

<li><span>home</span></li>

{% endblock %}


{% block body %}

<div class="row">

    <h1>Welcome to <span class="light-blue">{{ APP.name }}&copy;</span>!</h1>

    <div id="notifications">
        {% include 'apps/notifications.html' %}
    </div>

    <div id="graphs">
    </div>

    <div class="user-support-link">
        <span class="light-blue">Need help?</span>&nbsp;<a href="http://support.{{ APP.domain }}" target="_blank">Contact our support team</a>
    </div>

</div>

{% endblock %}


{% block scripts %}

<!-- Standard libraries -->
<script src="{% static 'libs/canvas/js/canvasjs.min.js' %}"></script>

<!-- Custom libraries -->
<script src="{% static 'js/ajax.js' %}"></script>
<script src="{% static 'js/graphs.js' %}"></script>

<!-- Specific functionality -->
<script src="{% static 'js/notifications.js' %}"></script>
<script>
    (function() {
        generateGraph({
            title: 'Resources by project', type: 'column',
            url: '/wbs/api/v0/projects/?format=json',
            labelField: 'code',
            dataFields: [{label: 'Employees', value: 'employees'}, {label: 'Equipment', value: 'equipment'}],
            animate: true
        });
        generateGraph({
            title: 'Hours by project', type: 'column',
            url: '/work/api/v0/hours/?format=json&group_by=project&status=approved&order_by=-hours&limit=10',
            labelField: 'project.code',
            dataFields:[{legend: null, value: 'hours'}],
            animate: true
        });
        generateGraph({
            title: 'Hours by labour type', type: 'pie',
            url: '/work/api/v0/hours/?format=json&group_by=labour_type&status=approved&order_by=-hours&limit=10',
            labelField: 'labour_type.name',
            dataFields: [{legend: null, value: 'hours'}],
            animate: true
        });
        generateGraph({
            title: 'Top activities by hours', type: 'bar',
            url: '/work/api/v0/hours/?format=json&group_by=activity&status=approved&order_by=-hours&limit=10',
            labelField: 'activity.wbs_code', order: -1,
            dataFields: [{legend: null, value: 'hours'}],
            animate: true
        });
    })();
</script>

{% endblock %}
