<h4 class="light-blue title">Notifications</h4>

{% for notification in notifications %}
    <div class="row notification">

        <a class="u-pull-right action" data-action="dismiss" data-id="{{ notification.id }}" href="#" title="Dismiss">X</a>
        <span class="label">{{ notification.title }}</span>
        <span class="timestamp">{{ notification.timestamp }}</span>
        <br>

        {{ notification.message }}
    </div>
{% empty %}
    <div class="row notification">No notifications available!</div>
{% endfor %}