<h4 class="title">Notifications</h4>

{% for notification in notifications %}
    <div class="row notification">
        <span class="title">{{ notification.title }}</span>
        <span class="timestamp">{{ notification.timestamp }}</span>
        <a class="u-pull-right action" data-action="dismiss" data-id="{{ notification.id }}" href="#" title="Dismiss">X</a>
        <p>{{ notification.message }}</p>
    </div>
{% empty %}
    <div class="row notification">No notifications available!</div>
{% endfor %}