<h4 class="title">Notifications</h4>

{% for notification in notifications %}
    <div class="row notification">
        <span class="title">{{ notification.title }}</span>
        <span class="timestamp">{{ notification.timestamp }}</span>
        <div class="u-pull-right">
            <span class="action">{{ notification.action_link|safe }}</span>
            <span class="action"><a data-action="dismiss" data-id="{{ notification.id }}" href="#" title="Dismiss">X</a></span>
        </div>
        <p>{{ notification.message }}</p>

    </div>
{% empty %}
    <div class="row notification">No notifications available!</div>
{% endfor %}