<ul class="paginator action-group">

    <li><a href="?page=1" class="page-link" title="First page">&lt;&lt;</a></li>
    <li>
        {% if list.has_previous %}
            <a href="?page={{ list.previous_page_number }}" class="page-link" title="Previous page">&lt;</a>
        {% else %}
            <span>&lt;</span>
        {% endif %}
    </li>


    <li><span>{{ list.number }} of {{ list.paginator.num_pages }}</span></li>

    <li>
        {% if list.has_next %}
            <a href="?page={{ list.next_page_number }}" class="page-link" title="Next page">&gt;</a>
        {% else %}
            <span>&gt;</span>
        {% endif %}
    </li>
    <li><a href="?page={{ list.paginator.num_pages }}" class="page-link" title="Last page">&gt;&gt;</a></li>

</ul>