<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="UTF-8">

    <!-- Skeleton frames -->
    <link href="{% static 'libs/skeleton-2.0.4/css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'libs/skeleton-2.0.4/css/skeleton.css' %}" rel="stylesheet">

    <!-- Styles -->
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    <!-- Title -->
    <title>
        pjtracker - {% block title %}home{% endblock %}
    </title>

</head>
<body>

    <header>
        {% block header %}{% endblock %}
    </header>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

    {% block scripts %}{% endblock %}

</body>
</html>